body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  
}

.header {

  height: 70px;
  background-color: white;
  padding: 5px 10px;
  padding-right: 40px;
}

.header img {
  height: 90px;
  padding-bottom: 10px;
}

.hero p {
  color: rgb(133, 27, 27);
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: bold;
}

.header a {
  display: flex;
  justify-content:space-between;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
}

.header a:hover {
  background-color: #fae69b;
  color: black;
}

.header a.active {
  background-color: rgb(255, 98, 30);
  color: white;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main content */

.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}


/* Add an active class to the active dropdown button */

.active {
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
  display: none;
  background-color: burlywood;
  padding-left: 8px;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
  float: right;
  padding-right: 8px;
}


/* Some media queries for responsiveness */




.add {
  position: relative;
  height: 400px;
  width: 300px;
  padding: 60px 60px;
 background-color: black;
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
  border-radius: 10%;
  
}

.addCategory {
  padding-top: 80px;
}
.addItem{
  padding-top: 40px;
}

.active {
  border-bottom: 2px solid red;
}

.nonactive {
  color: rgba(255, 255, 255, 0.2);
}

h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
  
}


h2:first-child {
  padding-left: 0px;
}

span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4; 
  display: inline-block;
  position: relative;
  top: -45px;
  transition: all 0.5s ease-in-out;
  text-align: center;
  color: white;
}

.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}
.categ{
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(126, 87, 87, 0.952);
  border: 2px solid rgba(255, 255, 255, 0);


}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}

input[type="text"],input[type="file"]
{
  font-family: 'Montserrat', sans-serif;
  color: red;
}



input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
}

h2,
span,
.custom-checkbox {
  margin-left: 20px;
}



.custom-checkbox {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: 6px;
}



label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}

.addCat {
  background-color: red;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.addCat:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.addCat:focus {
  outline: none;
}

.container{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;

  
  
}




@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .header {
      display: block;
  }
  img {
      height: 150px;
      width: 300px;
  }
  .header-right {
      display: flex;
      flex-direction: row;
      max-width: min-content;
  }
}