body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}


.header {
   
    height: 70px;
    background-color: white;
    padding: 5px 10px;
    padding-right: 40px;
  }
  
  .header img {
    height: 90px;
    padding-bottom: 10px;
  }
  .hero{
    display: flex;
    justify-content:space-between;
  }
.ss , #back{
    padding-bottom: 20px;
    color: rgb(133, 27, 27);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
  }
  
  .header a {
  
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    
  }
  
  .header a:hover {
    background-color: #fae69b;
    color: black;
  }
  
  .header a.active {
    background-color: rgb(255, 98, 30);
    color: white;
  }
  
  .links {
      padding-top: 40px;
   
   
  }
/*Login and Signup Boxes*/

.loginBox,
.signupBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 400px;
    background: rgb(188, 187, 187);
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid black;
}



.title {
color: rgb(133, 27, 27);
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

.loginBox input,
.signupBox input,
button {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"],
.signupBox input[type="text"],
.signupBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 30px;
    color: rgb(31, 23, 23);
    background: transparent;
    font-size: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover,
.signupBox input[type="text"]:hover,
.signupBox input[type="password"]:hover {
    color: bisque;
    border: 1px solid rgb(131, 66, 66);
    ;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.426), 0 0 10px rgba(229, 99, 63, 0.2), 0 0 15px rgba(255, 77, 0, 0.1), 0 2px 0 black
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus,
.signupBox input[type="text"]:focus,
.signupBox input[type="password"]:focus {
    border-bottom: 2px solid rgb(131, 66, 66);
}

.signup,
.back {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.signupBox {
    display: none;
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
}

button {
    border: none;
    outline: none;
    height: 35px;
    font-size: 20px;
    background: brown;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}


.no_account {
    color: black;
}



label {
    font-size: 18px;
}


#items{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-items:center;
justify-content: center;
border-top: 2px solid black;

}

#items div {
    width: 100px;
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
}
#items img {
    width: 80px;
}




#allitems h1 {
    margin: 0 0 15px 0;
    text-transform: uppercase;
  }


  #allitems img {
    max-width: 300px;
    border: 6px solid #fff;
    border-radius: 150px;
  }


@media screen and (max-width: 900px) {
    body {
        background-size: cover;
        position: center;
    }
}